{# @var Bestseller \BaksDev\Products\Product\Repository\BestSellerProducts\BestSellerProductsResult #}

{% set Bestseller = bestSellers|first %}

{# Старая цена #}
{% set OldPrice = Bestseller.productOldPrice %}

{# Персональная скидка #}
{% set Price = Bestseller.productPrice %}

{# Главная картинка продукта #}
{% set RootImg = Bestseller.productImagesSortByRoot|first %}

{# ОБЛОЖКА #}
{% set ImagePath = '/assets/img/blank.svg' %}

{% if rootImg.img_ext is defined and rootImg.img_ext is not null %}
    {% set bestSellerImg = cdn_image_path(rootImg.img, rootImg.img_ext, rootImg.img_cdn) %}
{% endif %}

<div class="col mb-3">
    <div class="card border p-4 rounded-5 justify-content-between"
         style="height: 409px;
                 background: url({{ bestSellerImg }});
                 background-size: 80%, contain;  background-position: 150% center,center;  background-repeat: no-repeat;">

        <a class="text-black fw-bold text-uppercase mb-0 list-group-item best-offers-item"
           href="{{ path('products-product:public.detail', {
               category: Bestseller.categoryUrl,
               url: Bestseller.productUrl,
               offer: Bestseller.productOfferValue,
               variation: Bestseller.productVariationValue,
               modification: Bestseller.productModificationValue,
               postfix: (Bestseller.productModificationPostfix ?: Bestseller.productVariationPostfix ?: Bestseller.productOfferPostfix ?: null )|replace({ '/': '-' }),
           }) }}">

            {{ Bestseller.productName }}

            <br>
            {{ Bestseller.productOfferValue|call_twig_func(Bestseller.productOfferReference~'_render')
            ~ Bestseller.productModificationValue|call_twig_func(Bestseller.productModificationReference~'_render') }}

            {{ Bestseller.productOfferValue|call_twig_func(Bestseller.productOfferReference~'_render') }}

            {{ (Bestseller.productModificationPostfix ?: Bestseller.productVariationPostfix ?: Bestseller.productOfferPostfix ?: null ) }}
        </a>

        <div class="bg-white border rounded-5 fw-medium px-3 py-2 d-flex gap-2"
             style="width: max-content;">

            {# ЦЕНА #}
            <p class="fs-24 mb-0 lh-1">
                {{ money(Price, Bestseller.productCurrency) }}
            </p>

            {% if OldPrice and (OldPrice.value is not empty and OldPrice.value > 0) %}
                <p class="card-text text-danger small m-0 fw-bold mb-1">
                    <del>{{ money(OldPrice, Bestseller.productCurrency) }}</del>
                </p>
            {% endif %}

        </div>

    </div>
</div>
