
{{ form_row(form.offer.vars.prototype.variation.vars.prototype.categoryVariation, { attr: { value : form.dataVariation.vars.value } }) }}



{# Фото вариантов торгового предложения #}
		{% if variation_first.image is defined %}
			{{ prototype_variation_collection }}
			{#{{ include(_self|replace({ "prototype.variation.html.twig": "image/prototype.collection.html.twig" })) }}#}
		{% endif %}

<div class='d-flex justify-content-between align-items-end gap-3'>


	{{ form_row(form.offer.vars.prototype.variation.vars.prototype.DeleteVariation,{
		label: '<span class="svg-icon svg-icon-2">
						<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
							<rect opacity="0.5" x="7.05025" y="15.5356" width="12" height="2" rx="1" transform="rotate(-45 7.05025 15.5356)" fill="currentColor"></rect>
							<rect x="8.46447" y="7.05029" width="12" height="2" rx="1" transform="rotate(45 8.46447 7.05029)" fill="currentColor"></rect>
						</svg>
					</span>',
		attr: {
			class: 'btn-outline-danger btn-sm border-0 del-item-variation',
			'data-index': 'item_'~form.offer.vars.prototype.variation.vars.prototype.vars.id

		}

	}) }}

	<div class='w-100'>
		{{ form_widget(form.offer.vars.prototype.variation.vars.prototype.value) }}
	</div>

	{% if variation_first.postfix is defined %}
		<div class='w-50'>
			{{ form_row(form.offer.vars.prototype.variation.vars.prototype.postfix, {
				label : false,
				attr : { placeholder: variation_first.postfix.vars.attr.placeholder }
			}) }}
		</div>
	{% endif %}

	{% if variation_first.article is defined %}
		<div class='w-100 d-flex align-items-end'>

			<div class="mb-3">
				{# Генератор артикула #}
				<button type="button" class="btn btn-sm btn-link ps-0 article-generate" title="Генерировать артикул"

						data-id="{{ form.offer.vars.prototype.variation.vars.prototype.article.vars.id }}"

						data-offer="{{ form.offer.vars.prototype.value.vars.id }}"
						data-offerpostfix="{{ form.offer.vars.prototype.postfix.vars.id }}"

						data-variation="{{ form.offer.vars.prototype.variation.vars.prototype.value.vars.id }}"
						data-variationpostfix="{{ form.offer.vars.prototype.variation.vars.prototype.postfix.vars.id }}"

				>
					<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
						 class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
						<path fill-rule="evenodd"
							  d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
						<path fill-rule="evenodd"
							  d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
					</svg>
				</button>
			</div>

			{{ form_row(form.offer.vars.prototype.variation.vars.prototype.article, { label : false, attr : { placeholder : 'Артикул' }}) }}

		</div>


	{% endif %}


	{% if variation_first.price is defined %}
		<div class="input-group mb-3 w-75">

						<span class="input-group-text"
							  id="basic-addon3"
						>
							<svg xmlns="http://www.w3.org/2000/svg"
								 width="16"
								 height="16"
								 fill="currentColor"
								 class="bi bi-currency-exchange"
								 viewBox="0 0 16 16"
							>
								<path d="M0 5a5.002 5.002 0 0 0 4.027 4.905 6.46 6.46 0 0 1 .544-2.073C3.695 7.536 3.132 6.864 3 5.91h-.5v-.426h.466V5.05c0-.046 0-.093.004-.135H2.5v-.427h.511C3.236 3.24 4.213 2.5 5.681 2.5c.316 0 .59.031.819.085v.733a3.46 3.46 0 0 0-.815-.082c-.919 0-1.538.466-1.734 1.252h1.917v.427h-1.98c-.003.046-.003.097-.003.147v.422h1.983v.427H3.93c.118.602.468 1.03 1.005 1.229a6.5 6.5 0 0 1 4.97-3.113A5.002 5.002 0 0 0 0 5zm16 5.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0zm-7.75 1.322c.069.835.746 1.485 1.964 1.562V14h.54v-.62c1.259-.086 1.996-.74 1.996-1.69 0-.865-.563-1.31-1.57-1.54l-.426-.1V8.374c.54.06.884.347.966.745h.948c-.07-.804-.779-1.433-1.914-1.502V7h-.54v.629c-1.076.103-1.808.732-1.808 1.622 0 .787.544 1.288 1.45 1.493l.358.085v1.78c-.554-.08-.92-.376-1.003-.787H8.25zm1.96-1.895c-.532-.12-.82-.364-.82-.732 0-.41.311-.719.824-.809v1.54h-.005zm.622 1.044c.645.145.943.38.943.796 0 .474-.37.8-1.02.86v-1.674l.077.018z" />
							</svg>
						</span>

			{{ form_widget(form.offer.vars.prototype.variation.vars.prototype.price.price, { attr: { 'placeholder' : 'Стоимость' } }) }}

		</div>

		<div class="w-50">{{ form_row(form.offer.vars.prototype.variation.vars.prototype.price.currency) }}</div>
	{% endif %}


	{#{% if variation_first.quantity is defined %}
		<div class="w-75">
			{{ form_row(form.offer.vars.prototype.variation.vars.prototype.quantity.quantity, { attr: { placeholder: 'Наличие'|trans, min: 0 } }) }}
		</div>

		<div class="w-75">
			{{ form_row(form.offer.vars.prototype.variation.vars.prototype.quantity.reserve, { attr: { placeholder: 'Резерв'|trans, min: 0 } }) }}
		</div>

	{% endif %}#}

</div>




{# МОДИФИКАЦИИ #}

{% if variation_first.modification is defined %}



	<div class="card w-100 border-light mb-3">
		<div class="card-header border-light bg-body">
			<div class="card-title">
				<h6>
					{{ variation_first.modification.vars.prototype.value.vars.label }}
				</h6>
			</div>
		</div>


		<div class="card-body variation-modification-collection" id='collection_{{ form.offer.vars.prototype.variation.vars.prototype.vars.id }}'>
			{% if variation_first.modification is defined %}
				<div id='item_{{ form.offer.vars.prototype.variation.vars.prototype.modification.vars.prototype.vars.id|replace({ '__variation_modification__' : 0 }) }}'>
					{{ prototype_modification|replace({ '__variation_modification__' : 0 })|raw }}
				</div>
			{% endif %}
		</div>

		<div class="card-footer border-light bg-body d-flex justify-content-between align-items-center gap-5">

			{% if (variation_first.modification.children|first).price is defined %}

				<small class='text-muted'>
					Цена модификации множественного варианта торгового предложения имеет приоритет над базовой ценой. Если поле не заполнено,
					присваивается базовое значение.
				</small>

			{% endif %}


			{# Добавить МОДИФИКАЦИЮ  #}
			<button type="button"
					class="btn btn-sm btn-outline-primary border-0 variation-modification-add-collection text-nowrap"
					data-prototype="prototype.modification"
					data-offer="{{ form.offer.vars.prototype.vars.name }}"
					data-variation="{{ form.offer.vars.prototype.variation.vars.prototype.vars.name }}"
					data-index="1"
					data-collection='collection_{{ form.offer.vars.prototype.variation.vars.prototype.vars.id }}'
			>
						<span class="svg-icon svg-icon-2">
							<svg xmlns="http://www.w3.org/2000/svg"
								 width="24"
								 height="24"
								 viewBox="0 0 24 24"
								 fill="none">
								<rect opacity="0.5"
									  x="11"
									  y="18"
									  width="12"
									  height="2"
									  rx="1"
									  transform="rotate(-90 11 18)"
									  fill="currentColor">
							</rect>
								<rect x="6" y="11" width="12" height="2" rx="1" fill="currentColor"></rect>
							</svg>
						</span>
				Добавить еще "{{ variation_first.modification.vars.prototype.value.vars.label }}"
			</button>

		</div>

	</div>

{% endif %}