<div class="px-0">
	
	<label class="btn btn-outline btn-outline-dashed d-flex flex-stack text-start p-6 mb-5">
		
		<div class="d-flex align-items-center me-2">
			
			<div class="form-check form-check-custom form-check-solid form-check-danger me-6">
				{{ form_widget(form.active.active, { label: false }) }}
			</div>
			
			<div class="flex-grow-1">
				<h2 class="d-flex align-items-center fs-3 fw-bolder flex-wrap mb-0">
					{{ 'Продукт активный'|trans() }}
				</h2>
			</div>
		</div>
		
		{# <div class="ms-5 text-muted">
			<small class="mb-2" id="{{ form.info.active.vars.id }}_0_currency"></small>
			<span class="fw-bolder" id="{{ form.info.active.vars.id }}_0_price"></span>
		</div> #}
	
	</label>


</div>

<div class="d-flex justify-content-between gap-5 align-items-end">
	
	
	{{ form_row(form.active.activeFrom, { label : 'Начало активности'|trans } ) }}
	
	{{ form_row(form.active.activeFromTime) }}
	
	
	{{ form_row(form.active.activeTo, { label: 'Дата окончания'|trans }) }}
	{{ form_row(form.active.activeToTime) }}

</div>
