{% trans_default_domain 'products.product' %}

<nav>
	<div class="nav nav-tabs" id="nav-{{ form.trans.vars.id }}" role="tablist">
		{% for trans in form.trans %}
			<button class="nav-link{{ app.request.locale == trans.vars.value.local? ' active' : '' }}"
					id="nav-{{ trans.vars.id }}-tab" data-bs-toggle="tab"
					data-bs-target="#nav-{{ trans.vars.id }}"
					type="button" role="tab" aria-controls="nav-{{ trans.vars.id }}" aria-selected="true">
				{{ trans.vars.value.local|trans({}, 'messages') }}
			</button>
		{% endfor %}
	</div>
</nav>

<div class="tab-content mt-5" id="nav-{{ form.trans.vars.id }}Content">
	
	{% for trans in form.trans %}
		<div class="tab-pane fade{{ app.request.locale == trans.vars.value.local ? ' show active' : '' }}"
				id="nav-{{ trans.vars.id }}" role="tabpanel"
				aria-labelledby="nav-{{ trans.vars.id }}-tab">
			
			{# Локаль #}
			{{ form_row(trans.local) }}
			
			{# Название #}
			{{ form_row(trans.name, {
				label : 'Название товара'|trans, attr: { 'data-lang' : "product_form_trans_"~trans.vars.value.local  }
			}) }}
		</div>
	{% endfor %}
	
	
	
	{# Символьный код #}
	{{ form_row(form.info.url, { label : 'Символьный код продукта'|trans } ) }}

</div>


