<div class="col-6 p-1">

    <div class="border-bottom border-4 rounded-4 bg-primary border-primary">

        <div class="card bg-light-primary rounded-4">

            <div class="card-body small p-2">
                <div class="d-flex justify-content-between align-items-center small">

                    {# Бренд #}
                    <div class="w-100">
                        {{ item.users_profile_username }}
                    </div>

                    <div class="text-muted">
                        {% if item.category_name %}
                            <span class="badge text-bg-secondary">{{ item.category_name }}</span>
                        {% else %}
                            <span class="badge text-bg-danger">Без категории</span>
                        {% endif %}
                    </div>
                </div>

                {# <div class="d-flex justify-content-between align-items-end">
                    <span class="h5 mb-0"> #}{# {{ money(item.order_price, item.order_currency) }} #}{# </span>
                    <span class="small text-muted">1 шт</span>
                </div> #}
            </div>

            {# Обложка  #}

            <div class="d-flex flex-column small gap-1 p-2 bg-cover lazy col-2 w-100"
                 style="height: 200px;"
                 data-bg="{{ cdn_image_path(item.product_image, item.product_image_ext, item.product_image_cdn) }}"
            >
                <div
                        class="icon rounded-circle bg-contain p-1 mb-2 shadow position-absolute"
                        style="width: 25px; height: 25px;"
                >
                    {{ include(_self|replace({ "card.html.twig": "_usecase.html.twig" })) }}
                </div>
            </div>


            <div class="card-body d-flex flex-column p-2 small">

                <div class="text-truncate bg-contain"
                     role="tooltip"
                     data-bs-toggle="tooltip"
                     data-bs-placement="top"
                     data-bs-delay='{"show":600,"hide":100}'
                     title="{{ item.product_name }}"
                >

                    <a href="{{ (is_granted(ROLE~'_EDIT') or is_granted('ROLE_ADMIN')) ?
                    path('products-product:admin.newedit.edit', {
                        id: item.event,
                        offfer: item.product_offer_const,
                        variation: item.product_variation_const,
                        modification: item.product_modification_const,
                    }) }}"
                       class="fw-bolder mb-1 text-dark text-decoration-none small"

                    >
                        {{ item.product_name|capitalize }}
                    </a>

                    <div class="text-muted fw-bolder">

                        {# Значение множественного варианта ТП #}
                        {{ item.product_variation_value|call_twig_func(item.product_variation_reference~'_render') ~
                        item.product_modification_value|call_twig_func(item.product_modification_reference~'_render') }}

                        {# Значение торгового предложения #}
                        {{ item.product_offer_value|call_twig_func(item.product_offer_reference~'_render') }}

                        {# Постфикс торгового предложения #}
                        {{ item.product_offer_postfix }}
                        {# Постфикс множественного варианта #}
                        {{ item.product_variation_postfix }}
                        {# Постфикс модификации #}
                        {{ item.product_modification_postfix }}
                    </div>
                </div>


                <div class="d-flex align-items-center gap-1 text-primary pointer copy small"
                     data-copy="{{ item.product_article }}">

                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="14"
                         height="14" fill="currentColor" viewBox="0 0 115.77 122.88">
                        <path d="M89.62,13.96v7.73h12.19h0.01v0.02c3.85,0.01,7.34,1.57,9.86,4.1c2.5,2.51,4.06,5.98,4.07,9.82h0.02v0.02 v73.27v0.01h-0.02c-0.01,3.84-1.57,7.33-4.1,9.86c-2.51,2.5-5.98,4.06-9.82,4.07v0.02h-0.02h-61.7H40.1v-0.02 c-3.84-0.01-7.34-1.57-9.86-4.1c-2.5-2.51-4.06-5.98-4.07-9.82h-0.02v-0.02V92.51H13.96h-0.01v-0.02c-3.84-0.01-7.34-1.57-9.86-4.1 c-2.5-2.51-4.06-5.98-4.07-9.82H0v-0.02V13.96v-0.01h0.02c0.01-3.85,1.58-7.34,4.1-9.86c2.51-2.5,5.98-4.06,9.82-4.07V0h0.02h61.7 h0.01v0.02c3.85,0.01,7.34,1.57,9.86,4.1c2.5,2.51,4.06,5.98,4.07,9.82h0.02V13.96L89.62,13.96z M79.04,21.69v-7.73v-0.02h0.02 c0-0.91-0.39-1.75-1.01-2.37c-0.61-0.61-1.46-1-2.37-1v0.02h-0.01h-61.7h-0.02v-0.02c-0.91,0-1.75,0.39-2.37,1.01 c-0.61,0.61-1,1.46-1,2.37h0.02v0.01v64.59v0.02h-0.02c0,0.91,0.39,1.75,1.01,2.37c0.61,0.61,1.46,1,2.37,1v-0.02h0.01h12.19V35.65 v-0.01h0.02c0.01-3.85,1.58-7.34,4.1-9.86c2.51-2.5,5.98-4.06,9.82-4.07v-0.02h0.02H79.04L79.04,21.69z M105.18,108.92V35.65v-0.02 h0.02c0-0.91-0.39-1.75-1.01-2.37c-0.61-0.61-1.46-1-2.37-1v0.02h-0.01h-61.7h-0.02v-0.02c-0.91,0-1.75,0.39-2.37,1.01 c-0.61,0.61-1,1.46-1,2.37h0.02v0.01v73.27v0.02h-0.02c0,0.91,0.39,1.75,1.01,2.37c0.61,0.61,1.46,1,2.37,1v-0.02h0.01h61.7h0.02 v0.02c0.91,0,1.75-0.39,2.37-1.01c0.61-0.61,1-1.46,1-2.37h-0.02V108.92L105.18,108.92z"></path>
                    </svg>

                    {{ item.product_article }}
                </div>

                <div class="d-flex align-items-center justify-content-between">

                    {% if item.product_price %}

                        {{ money(item.product_price, item.product_currency,) }}

                        {% if item.product_quantity %}

                            {% if item.product_reserve %}
                                <div class="text-muted">
                                <span class="small fw-bolder text-primary pointer"
                                      style="cursor: default;"
                                      data-bs-toggle="tooltip"
                                      data-bs-placement="bottom"
                                      data-bs-delay='{"show":100,"hide":300}'
                                      title="Наличие"
                                >{{ item.product_quantity }}
                                </span>

                                    &nbsp;|&nbsp;

                                    <span class="small fw-bolder text-danger"
                                          style="cursor: default;"
                                          data-bs-toggle="tooltip"
                                          data-bs-placement="bottom"
                                          data-bs-delay='{"show":100,"hide":300}'
                                          title="Резерв"
                                    >{{ item.product_reserve }}</span>

                                    &nbsp;|&nbsp;

                                    <span class="small fw-bolder text-success"
                                          style="cursor: default;"
                                          data-bs-toggle="tooltip"
                                          data-bs-placement="bottom"
                                          data-bs-delay='{"show":100,"hide":300}'
                                          title="Доступно"
                                    >{{ item.product_quantity - item.product_reserve }}</span>
                                </div>
                            {% else %}

                                <span class="small fw-bolder text-success"
                                      style="cursor: default;"
                                      data-bs-toggle="tooltip"
                                      data-bs-placement="bottom"
                                      data-bs-delay='{"show":100,"hide":300}'
                                      title="Доступно"
                                ><small class="text-muted">доступно </small> &nbsp; {{ item.product_quantity }}</span>

                            {% endif %}



                        {% else %}
                            &nbsp; <span class="small text-danger fw-bold">
                            <small>нет в наличии</small></span>
                        {% endif %}

                    {% else %}
                        <span class="badge text-bg-danger mt-1">Цена не указана</span>
                    {% endif %}

                </div>

            </div>
        </div>
    </div>

</div>
