{% trans_default_domain 'products-product.admin' %}

<div class="modal-dialog modal-dialog-centered " style="max-width: 300px;">
    {{ form_start(form) }}
    <div class="modal-content p-3 border-bottom border-5 border-primary">

        <div class="modal-header">
            <h5 class="modal-title">
                {{ 'page.edit'|trans }}
            </h5>
        </div>

        <div class="modal-body">
            {% set identifier = form.translate.vars.id %}

            {% if form.translate.count > 1 %}

                <ul class="nav nav-pills gap-3 mb-3" id="nav-{{ identifier }}" role="tablist">

                    {% for translate in form.translate %}

                        <li class="nav-item" role="presentation">
                            <button class="btn fw-bolder nav-link{{ app.request.locale == translate.vars.value.local? ' active' : '' }}"
                                    data-bs-toggle="tab"
                                    type="button"
                                    role="tab"
                                    aria-selected="true"

                                    id="nav-{{ identifier }}-{{ translate.vars.value.local }}-tab"
                                    data-bs-target="#nav-{{ identifier }}-{{ translate.vars.value.local }}"
                                    aria-controls="nav-{{ identifier }}-{{ translate.vars.value.local }}"
                            >
                                <small class="text-uppercase px-3">{{ translate.vars.value.local|trans({}, 'core') }}</small>
                            </button>
                        </li>

                    {% endfor %}
                </ul>

            {% endif %}


            <div class="tab-content" id="nav-{{ identifier }}-content">


                {% for translate in form.translate %}

                    <div class="tab-pane fade{{ app.request.locale == translate.vars.value.local? ' show active' : '' }}"
                         id="nav-{{ identifier }}-{{ translate.vars.value.local }}" role="tabpanel"
                         aria-labelledby="nav-{{ identifier }}-{{ translate.vars.value.local }}-tab">

                        {# Локаль #}
                        {{ form_row(translate.local) }}

                        {#  Название товара  #}
                        {{ form_row(translate.name, {
                            label : 'form.label.trans.name'|trans({}, 'products-product.admin', translate.vars.value.local),
                            attr : { 'data-lang' : 'product_form_trans_'~translate.vars.value.local }
                        }) }}

                    </div>



                {% endfor %}

            </div>
        </div>

        <div class="modal-footer">

            <div class="flex-grow-1">
                &nbsp;
            </div>

            <div class="d-flex gap-3">
                <a href="{{ app.request.headers.get('referer') is null or app.request.uri == app.request.headers.get('referer') ?
                path('products-product:admin.index') : app.request.headers.get('referer') }}"
                   class="btn btn-light">
                    {{ 'btn.cancel'|trans({}, 'core.btn') }}
                </a>

                {{ form_widget(form.rename_product, { label: '
				<span>'~ 'btn.update'|trans({}, 'core.btn') ~'</span>
				<span class="spinner-border spinner-border-sm vertical-middle d-none"></span>
			'}) }}

            </div>

        </div>

    </div>
    {{ form_end(form) }}
</div>
