<?xml version="1.0"?>

<yml_catalog date='{{ 'now'|date('Y-m-d\\TH:00:00P') }}'>
    <shop>
        <name>{{ settings.title }}</name>
        <company>{{ settings.description }}</company>
        <url>{{ absolute_url(path('core:user.homepage')) }}</url>
        <platform>Symfony</platform>

        {#<categories>
            <category id='1'>Бытовая техника</category>
            <category id='10' parentId='1'>Мелкая техника для кухни</category>
            <category id='101' parentId='10'>Сэндвичницы и приборы для выпечки</category>
        </categories>#}

       {# <delivery-options>
            <option cost="200" days="1"/>
        </delivery-options>#}

        {#<pickup-options>
            <option cost="200" days="1"/>
        </pickup-options>#}
        <offers>
        {% for card in products %}

            {% set arr_property = card.category_section_field|json_decode %}

            <offer id='{{ card.product_id }}'>
                    <name>{{ card.product_name }}
                        {# Значение множественного варианта ТП #}
                        {{ card.variation_value|call_twig_func(card.variation_reference) ~ card.modification_value|call_twig_func(card.modification_reference) }}
                        {# Значение торгового предложения #}
                        {{ card.offer_value|call_twig_func(card.offer_reference) }}
                        {# Постфикс торгового предложения #}
                        {{ card.offer_postfix }}
                        {# Постфикс множественного варианта #}
                        {{ card.variation_postfix }}
                        {# Постфикс модификации #}
                        {{ card.modification_postfix }}
                    </name>
                    {#<vendor>Brand</vendor>#}
                    {#<vendorCode>A1234567B</vendorCode>#}
                    <url>{{ absolute_url(path('products-product:user.detail', {
                            url: card.url,
                            offer: card.offer_value,
                            variation: card.variation_value,
                            modification: card.modification_value
                        } )) }}</url>
                    <price>{{ (card.product_price / 100) ?: 'по запросу' }}</price>
                    <currencyId>{{ card.product_currency|upper }}</currencyId>
                    {#<oldprice>9990</oldprice>#}
                    {#<enable_auto_discounts>true</enable_auto_discounts>#}

                    {#<categoryId>101</categoryId>#}

                    {# Обложка  #}
                    {% set image_path = '/assets/img/empty.png' %}

                    {% if card.product_image_ext is defined and card.product_image_ext is not null %}
                        {% set img_host =  card.product_image_cdn == true  ? CDN_HOST : '' %}
                        {% set img_dir = card.product_image %}
                        {% set img_file = (img_host is empty ? '/image.' : '/original.') ~ card.product_image_ext %}
                        {% set image_path = img_host ~ img_dir ~ img_file %}
                    {% endif %}

                    <picture>{{ absolute_url(image_path) }}</picture>

                {# Свойства, учавствующие в ПРЕВЬЮ #}
                {% for name_property in arr_property | filter(preview => preview.field_card == true) %}
                    {% set var = name_property.field_value|call_twig_func(name_property.field_type) %}
                    {% if var %}
                        <param name="{{ name_property.field_trans }}">{{ var }}</param>
                    {% endif %}
                {% endfor %}

                    {#<stock>более 20</stock>#}

                    {#<description>
                    <![CDATA[
                    <p>Это прибор, который придётся по вкусу всем любителям десертов и сладостей</p>
                    <p>С его помощью вы сможете делать вкусное домашнее мороженое из натуральных ингредиентов.</p>
                    ]]>
                </description>#}

                    {#<sales_notes>Необходима предоплата.</sales_notes>#}
                    {#<manufacturer_warranty>true</manufacturer_warranty>#}
                    {#<barcode>4601546021298</barcode>#}
                    {#<param name='Цвет'>белый</param>#}
                    {#<weight>3.6</weight>#}
                    {#<dimensions>20.1/20.551/22.5</dimensions>#}
                    {#<condition type='preowned'>
                    <quality>excellent</quality>
                </condition>#}
                </offer>

        {% endfor %}
            </offers>

    </shop>
</yml_catalog>