{% if card %}

    {% set discount = user_profile_discount(card.product_price) %}
    {% set arr_property = card.category_section_field|json_decode %}

    <div class="card border-0 position-relative p-1 rounded-4">
    <span class="position-absolute badge-position badge z-3 ">
        <a href="#" aria-label="Иконка добавления в избранное">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="lightgray" class="bi bi-heart-fill"
                 viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
            </svg>
        </a>
        <span class="visually-hidden">Иконка добавления в избранное</span>
    </span>

        {# @TODO бейдж акции - подумать по какому условию навешивать #}
        {#    <button class="position-absolute btn-badge-position  z-3  btn btn-danger fw-bold rounded-5 fs-10 py-1 px-2"> #}
        {#        АКЦИЯ #}
        {#    </button> #}

        {# Обложка  #}
        {% set image_path = '/assets/img/blank.svg' %}

        {% if card.product_image_ext is defined and card.product_image_ext is not null %}
            {% set img_host = card.product_image_cdn == true  ? CDN_HOST : '' %}
            {% set img_dir = card.product_image %}
            {% set img_file = (img_host is empty ? '/image.' : '/small.') ~ card.product_image_ext %}
            {% set image_path = img_host ~ img_dir ~ img_file %}
        {% endif %}

        {# @TODO удалить при релизу #}
        {#        {{ dd(card) }} #}

        <div class="card-img-top rounded-4 border ratio ratio-1x1"
             style="background: url({{ image_path }}) center/contain no-repeat;">
            {#            <a class="d-block" href="{{ path('products-product:user.model', { #}
            {#                category: card.category_url, #}
            {#                url: card.url #}
            {#            }) }}" aria-label="Изображение товара"></a> #}

            <a class="d-block" href="{{ path('products-product:user.detail', {
                category: card.category_url,
                url: card.url,
                offer: card.product_offer_value,
                variation: card.product_variation_value,
                modification: card.product_modification_value,
                postfix: card.product_modification_postfix,
            }) }}" aria-label="Изображение товара"></a>
        </div>

        {# @TODO что делает этот блок #}
        <div class="overlay">
            <div class="text">Отличное сцепление с дорогой и управляемость на высоких скоростях</div>
        </div>

        <div class="card-body  pb-1 px-0">

            {# ЦЕНА #}
            <div class="d-flex align-items-center justify-content-between mb-2 px-3">
                {% if card.product_price %}
                    <div class="d-flex align-items-center gap-2">
                        {# ЦЕНА со скидкой #}
                        {% if discount %}
                            <p class="card-text fs-4 m-0" style="font-size:24px!important;">
                                <strong>{{ money(discount, card.product_currency) }}</strong></p>
                            <p class="card-text text-danger small m-0 fw-bold mb-1">
                                <del>{{ money(card.product_price, card.product_currency) }}</del>
                            </p>
                            {# ЦЕНА без скидки #}
                        {% else %}
                            <p class="card-text fs-4 m-0" style="font-size:24px!important;">
                                <strong>{{ money(card.product_price, card.product_currency) }}</strong></p>
                        {% endif %}

                    </div>
                    <a href="#" aria-label="Иконка добавления в корзину">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="lightgray"
                             class="bi bi-cart-fill"
                             viewBox="0 0 16 16">
                            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                        </svg>
                    </a>
                {% endif %}
            </div>

            <div class="d-flex mb-2">
                <a class="text-black text-decoration-none"
                   href="{{ path('homepage:public.index') }}"> {# @TODO blackdragon:product #}
                    <h3 class="card-title fw-bold px-3 text-uppercase" style="font-size:14px!important;">
                        {# Название продукта #}
                        {{ card.product_name }}

                        {# Значение множественного варианта ТП #}
                        {{ card.product_variation_value|call_twig_func(card.product_variation_reference~'_render')
                        ~ card.product_modification_value|call_twig_func(card.product_modification_reference~'_render') }}

                        {# Значение торгового предложения #}
                        {{ card.product_offer_value|call_twig_func(card.product_offer_reference~'_render') }}
                    </h3>
                </a>
            </div>

            {# @TODO блок с рейтингом (звездочками) - подумать по какому условию рассчитывать #}
            <div class="d-flex align-items-center gap-3 mb-3 px-3">
                <div class="d-flex align-items-center gap-1 ">
                    {% set rating = 4 %}
                    {% set i = 5 %}
                    {% for i in 1..5 %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11"
                             fill="{% if i > rating %} #d1d1d1 {% else %} #ffc107 {% endif %}" class="bi bi-star-fill"
                             viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg>
                    {% endfor %}
                </div>
                <a href="#" class="fs-12 text-secondary ">257</a>
            </div>

            <div class="d-flex align-items-center gap-2 mb-2 px-3">

                {# @TODO блок ТОП- подумать по какому условию навешивать #}
                {#            <button class="btn text-white btn-warning fw-bold rounded-5 fs-10 py-1 px-2 "> #}
                {#                ТОП #}
                {#            </button> #}
                {# @TODO блок НОВИНКА- подумать по какому условию навешивать #}
                {#            <button class="btn btn-success fw-bold rounded-5 fs-10 py-1 px-2 "> #}
                {#                НОВИНКА #}
                {#            </button> #}

                {# @TODO новые иконки или из пакета? #}
                <a href="#" style="width: 20px;">
                    <img src="/assets/blackdragon/img/sun.svg" style="height: 20px;" alt="Иконка солнца">
                </a>
                <a href="#" style="width: 20px;">
                    <img src="/assets/blackdragon/img/snowflake.svg" style="height: 20px;" alt="Иконка снежинки">
                </a>
                <a href="#" style="width: 20px;">
                    <img src="/assets/blackdragon/img/tire.svg" style="height: 20px;" alt="Иконка шипы">
                </a>
                <a href="#" style="width: 20px;">
                    <img src="/assets/blackdragon/img/sunsnow.svg" style="height: 20px;" alt="Иконка снег/солнце">
                </a>
            </div>

        </div>
    </div>

{% endif %}