{# Сеттеры прототипов  #}


{#  Прототип Фото торгового предложения  #}

{# {{ form_row(offer.categoryOffer, { attr : { value : form.dataOffer.vars.value } }) }} #}

{% set offer_prototype_category =  form_row(form.offer.vars.prototype.categoryOffer, { attr : { value : form.dataOffer.vars.value } }) %}

{% set offer_prototype_image =  form_row(form.offer.vars.prototype.image.vars.prototype.file, { 'attr'  : { 'class' : 'd-none' } }) %}

{% set offer_prototype_image_delete = form_widget(form.offer.vars.prototype.image.vars.prototype.DeleteOfferPhoto, {
	label: '<span class="svg-icon svg-icon-2">
	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
				viewBox="0 0 16 16" class="mb-1">
			<path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"></path>
		</svg>
</span>',
	attr: {
		class: 'btn btn-outline-danger border-0 del-item-offer-image',
		'data-index' : 'item_'~form.offer.vars.prototype.image.vars.prototype.vars.id
	}
	
}) %}


{% set offer_prototype_image_root = form_widget(form.offer.vars.prototype.image.vars.prototype.root, { label: 'Главное',  attr  : {
	'class' : 'change-root-'~form.offer.vars.prototype.vars.name,
	'data-index' : form.offer.vars.prototype.vars.name,
} }) %}


{#  Прототип ФОТО множественного выбора  #}



{% if form.offer.vars.prototype.variation is defined %}
	
	
	
	{% set variation_prototype_image =  form_row(form.offer.vars.prototype.variation.vars.prototype.image.vars.prototype.file, { 'attr'  : { 'class' : 'd-none' } }) %}
	
	{% set variation_prototype_image_delete = form_widget(form.offer.vars.prototype.variation.vars.prototype.image.vars.prototype.DeleteVariationPhoto, {
		label: '<span class="svg-icon svg-icon-2">
	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
				viewBox="0 0 16 16" class="mb-1">
			<path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"></path>
		</svg>
</span>',
		attr: {
			class: 'btn btn-outline-danger border-0 del-item-variation-image',
			'data-index' :  'item_'~form.offer.vars.prototype.variation.vars.prototype.image.vars.prototype.vars.id
		}
		
	}) %}
	
	{% set variation_prototype_image_root = form_widget(form.offer.vars.prototype.variation.vars.prototype.image.vars.prototype.root, { label: 'Главное',  attr  : {
		'class' : 'change-variation-'~form.offer.vars.prototype.variation.vars.prototype.vars.id,
		'data-index' : form.offer.vars.prototype.variation.vars.prototype.vars.id,
	} }) %}
	
	
	{% set variation_prototype_category =  form_row(form.offer.vars.prototype.variation.vars.prototype.categoryVariation, { attr: { value : form.dataVariation.vars.value } }) %}
	
	{% set variation_prototype_delete =  form_row(form.offer.vars.prototype.variation.vars.prototype.DeleteVariation,{
		label: '<span class="svg-icon svg-icon-2">
						<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
							<rect opacity="0.5" x="7.05025" y="15.5356" width="12" height="2" rx="1" transform="rotate(-45 7.05025 15.5356)" fill="currentColor"></rect>
							<rect x="8.46447" y="7.05029" width="12" height="2" rx="1" transform="rotate(45 8.46447 7.05029)" fill="currentColor"></rect>
						</svg>
					</span>',
		attr: {
			class: 'btn-outline-danger btn-sm border-0 del-item-variation',
			'data-index': 'item_'~form.offer.vars.prototype.variation.vars.prototype.vars.id
			
		}
		
	}) %}
	
	{% set variation_prototype_value =  form_widget(form.offer.vars.prototype.variation.vars.prototype.value) %}
	{% set variation_prototype_article =  form_row(form.offer.vars.prototype.variation.vars.prototype.article, { label : false, attr : { placeholder : 'Артикул' }}) %}
	{% set variation_prototype_postfix =  form_row(form.offer.vars.prototype.variation.vars.prototype.postfix, { label : false}) %}
	{% set variation_prototype_price =  form_widget(form.offer.vars.prototype.variation.vars.prototype.price.price, { attr: { 'placeholder' : 'Стоимость' } }) %}
	{% set variation_prototype_price_currency =  form_row(form.offer.vars.prototype.variation.vars.prototype.price.currency) %}
	{% set variation_prototype_quantity =  form_row(form.offer.vars.prototype.variation.vars.prototype.quantity.quantity, { attr: { placeholder: 'Наличие'|trans } }) %}
	{% set variation_prototype_reserve =  form_row(form.offer.vars.prototype.variation.vars.prototype.quantity.reserve, { attr: { placeholder: 'Резерв'|trans } }) %}

{% endif %}


{% if form.offer.vars.prototype.variation.vars.prototype.modification is defined %}
		
		
		
		{#  Прототип МОДИФИКАЦИИ  #}
		
		{% set modification_prototype_image =  form_row(form.offer.vars.prototype.variation.vars.prototype.modification.vars.prototype.image.vars.prototype.file, { 'attr'  : { 'class' : 'd-none' } }) %}
		
		{% set modification_prototype_image_delete = form_widget(form.offer.vars.prototype.variation.vars.prototype.modification.vars.prototype.image.vars.prototype.DeleteModificationPhoto, {
			label: '<span class="svg-icon svg-icon-2">
	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
				viewBox="0 0 16 16" class="mb-1">
			<path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"></path>
		</svg>
</span>',
			attr: {
				class: 'btn btn-outline-danger border-0 del-item-modification-image',
				'data-index' :  'item_'~form.offer.vars.prototype.variation.vars.prototype.modification.vars.prototype.image.vars.prototype.vars.id
			}
			
		}) %}
		
		{% set modification_prototype_image_root = form_widget(form.offer.vars.prototype.variation.vars.prototype.modification.vars.prototype.image.vars.prototype.root, { label: 'Главное',  attr  : {
			'class' : 'change-modification-'~form.offer.vars.prototype.variation.vars.prototype.modification.vars.prototype.vars.id,
			'data-index' : form.offer.vars.prototype.variation.vars.prototype.modification.vars.prototype.vars.id,
		} }) %}
		
		
		{% set modification_prototype_category =  form_row(form.offer.vars.prototype.variation.vars.prototype.modification.vars.prototype.categoryModification, { attr: { value : form.dataModification.vars.value } }) %}
		
		{% set modification_prototype_delete =  form_row(form.offer.vars.prototype.variation.vars.prototype.modification.vars.prototype.DeleteModification,{
			label: '<span class="svg-icon svg-icon-2">
						<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
							<rect opacity="0.5" x="7.05025" y="15.5356" width="12" height="2" rx="1" transform="rotate(-45 7.05025 15.5356)" fill="currentColor"></rect>
							<rect x="8.46447" y="7.05029" width="12" height="2" rx="1" transform="rotate(45 8.46447 7.05029)" fill="currentColor"></rect>
						</svg>
					</span>',
			attr: {
				class: 'btn-outline-danger btn-sm border-0 del-item-modification',
				'data-index': 'item_'~form.offer.vars.prototype.variation.vars.prototype.modification.vars.prototype.vars.id
				
			}
			
		}) %}
		
		{% set modification_prototype_value =  form_widget(form.offer.vars.prototype.variation.vars.prototype.modification.vars.prototype.value) %}
		{% set modification_prototype_article =  form_row(form.offer.vars.prototype.variation.vars.prototype.modification.vars.prototype.article, { label : false, attr : { placeholder : 'Артикул' }}) %}
		{% set modification_prototype_postfix =  form_row(form.offer.vars.prototype.variation.vars.prototype.modification.vars.prototype.postfix, { label : false}) %}
		{% set modification_prototype_price =  form_widget(form.offer.vars.prototype.variation.vars.prototype.modification.vars.prototype.price.price, { attr: { 'placeholder' : 'Стоимость' } }) %}
		{% set modification_prototype_price_currency =  form_row(form.offer.vars.prototype.variation.vars.prototype.modification.vars.prototype.price.currency) %}
		{% set modification_prototype_quantity =  form_row(form.offer.vars.prototype.variation.vars.prototype.modification.vars.prototype.quantity.quantity, { attr: { placeholder: 'Наличие'|trans } }) %}
		{% set modification_prototype_reserve =  form_row(form.offer.vars.prototype.variation.vars.prototype.modification.vars.prototype.quantity.reserve, { attr: { placeholder: 'Резерв'|trans } }) %}
	
	{% endif %}

<div id="collection-offer">

	{% for offer in form.offer %}
		{{ include(_self|replace({ "form.offers.html.twig": "offer/_offer.html.twig" })) }}
	{% endfor %}

	{# {% for offer in form.offer %}
	#}{# {{ include(_self|replace({ "form.offers.html.twig": "offer/_offer.html.twig" })) }} #}{#
	{% endif %} #}
</div>

<div class="position-sticky z-index-3 w-50" style="bottom: 3rem;">
	<button type="button" id="offer_addCollection"
			class="btn btn-sm btn-outline-primary border-0 add_collection"
			data-prototype="{{ include(_self|replace({ "form.offers.html.twig": "offer/prototype.offer.html.twig"}), { offer : form.offer.vars.prototype })| e('html_attr') }}"
			data-index="{{ form.offer.count }}"
	>
		<span class="svg-icon svg-icon-2">
			<svg xmlns="http://www.w3.org/2000/svg"
					width="24" height="24" viewBox="0 0 24 24"
					fill="none">
				<rect opacity="0.5" x="11" y="18" width="12"
						height="2" rx="1"
						transform="rotate(-90 11 18)"
						fill="currentColor"></rect>
				<rect x="6" y="11" width="12" height="2"
						rx="1" fill="currentColor"></rect>
			</svg>
		</span>
		Добавить торговое предложение
	</button>
</div>