{% trans_default_domain 'admin.products.product' %}

{% set identifier = form.translate.vars.id %}

{% if form.translate.count > 1 %}
	
	<ul class="nav nav-pills gap-3 mb-3" id="navdesc-{{ identifier }}" role="tablist">
		
		{% for translate in form.translate %}
			
			<li class="nav-item" role="presentation">
				<button class="btn fw-bolder nav-link{{ app.request.locale == translate.vars.value.local? ' active' : '' }}"
						data-bs-toggle="tab"
						type="button"
						role="tab"
						aria-selected="true"
						
						id="navdesc-{{ identifier }}-{{ translate.vars.value.local }}-tab"
						data-bs-target="#navdesc-{{ identifier }}-{{ translate.vars.value.local }}"
						aria-controls="navdesc-{{ identifier }}-{{ translate.vars.value.local }}"
				>
					<small class="text-uppercase px-3">{{ translate.vars.value.local|trans({}, 'core') }}</small>
				</button>
			</li>
		
		{% endfor %}
	</ul>

{% endif %}


<div class="tab-content" id="navdesc-{{ identifier }}-content">
	
	
	{% for translate in form.translate %}
		
		<div class="tab-pane fade{{ app.request.locale == translate.vars.value.local? ' show active' : '' }}"
				id="navdesc-{{ identifier }}-{{ translate.vars.value.local }}" role="tabpanel"
				aria-labelledby="navdesc-{{ identifier }}-{{ translate.vars.value.local }}-tab">
			
			{# Краткое опсиание #}
			{{ form_row(translate.preview, {
				label : 'Краткое описание'|trans,
				attr: { class: 'ckeditor' }
			}) }}
			
			{{ form_row(translate.description, {
				label : 'Детальное описание'|trans,
				attr: { class: 'ckeditor h-25' }
			}) }}
		
		
		</div>
	{% endfor %}
</div>


